
<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="./../assets/icon/ifinancas_logo3.png" height="70px" width="70px">
    <h3>iFinanças</h3>
  </ion-text>
</div>